#########################
# ▶ Unity 생성 파일 무시
#########################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/
[Rr]ecordings/

HDproject/Assets/01_Animations/Animations


#########################
# ▶ IDE 관련 파일 무시 (Visual Studio, JetBrains Rider 등)
#########################

.vs/
.gradle/
ExportedObj/
.consulo/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

#########################
# ▶ Unity 메타/디버그 파일 무시
#########################

*.pidb.meta
*.pdb.meta
*.mdb.meta

#########################
# ▶ 충돌 리포트, 로그
#########################

sysinfo.txt

#########################
# ▶ 빌드 결과물 무시
#########################

*.apk
*.aab
*.unitypackage
*.app
*.unitypackage.meta

#########################
# ▶ Crashlytics, Addressables 등 외부 플러그인 임시 파일
#########################

crashlytics-build.properties
Assets/AddressableAssetsData/*/*.bin*
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*

#########################
# ▶ 메타 파일 제외 
#########################

Assets/**/*.meta

#########################
# ▶ 운영체제에서 생성하는 임시 파일
#########################

.DS_Store
Thumbs.db
*.meta
*.dll
*.fbx
*.ttf
*.mat
*.png
*.prefab
*.unity
*.asset
*.shader
*.vsconfig

#########################
# ▶ 프로젝트 Assets 에서 무시할 파일
#########################
HDproject/Assets/01_Animations/Animations
HDproject/Assets/01_Animations/Controller
HDproject/Assets/AddressableAssetsData
HDproject/Assets/ExternalDependencyManager
HDproject/Assets/InputSystem_Actions.inputactions
HDproject/Assets/Photon
HDproject/Assets/TextMesh Pro
HDproject/ProjectSettings
HDproject/Packages
HDproject/Assets/TutorialInfo
HDproject/Assets/Resources
